version: '3'
services:
  db:
    container_name: db
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    restart: always
    tty: true
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=password         
    volumes:
      - ./app/.docker/mysql:/docker-entrypoint-initdb.d
    networks: 
      - node-network  

  app:
    container_name: app
    build: ./app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./app:/usr/src/app
    tty: true
    #entrypoint: dockerize -wait tcp://db:3306 -timeout 20s docker-entrypoint.sh
    entrypoint: dockerize -wait tcp://db:3306 -timeout 20s sh -c "npm install && npm run start"
    networks: 
      - node-network    

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx    
    restart: always
    ports:
      - "8080:80"    
    depends_on:
      - app
      - db
    tty: true  

networks: 
  node-network:
    driver: bridge